/*
	Set Track Score CSS
*/

.trackScoreIcon{
	background-image: url('../img/ruler.png');
	width: 16px;
	height: 16px;
}

.track-score-dialog-label{
    padding-right: 5px;
    font-weight: bold;
}

td.track-score-input .dijitTextBox{
    width: 75px;
    margin: 0px 3px 0px 5px;
}
